name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@master
        with:
          github_user_name: vijay-aid-007
          outputs: dist/snake.svg
      - name: Push Snake
        uses: EndBug/add-and-commit@v7
        with:
          message: "Generate snake"
          add: "dist/snake.svg"
