name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Project
        run: echo "Building..."

      - name: Upload artifact
        uses: actions/upload-artifact@v4  # Updated
        with:
          name: build-output
          path: ./output

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4  # Updated
        with:
          name: build-output
